
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/.playwright/
/.playwright-cli/
/config/config.json

# Env
.env
.env.local

# Editor/OS
.vscode/
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
*.log
